{% extends 'base.html.twig' %}

{% block title %}Hello UserOrgController!{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ asset('assets/css/interface.css') }}">
<link rel="stylesheet" href="{{ asset('assets/css/groupeOrg.css') }}">
<div class="title_div" >

                <img id="logo" src="{{asset('assets/img/LOGO_CEM.png')}}" width="146" height="56">

                <div id="bpmn_title" >Utilisateurs Organisation</div>


               
            
            </div>


<div class="ContentOrg">
    {# <h1>Hello {{ controller_name }}! ✅</h1> #}

    {{ form_start(form) }}
   

    <div class="form-group">
        {{ form_label(form.usernameUsersOrg) }}
        {{ form_widget(form.usernameUsersOrg, {'attr': {'class':'nameChampOrga'}}) }}
        <div class="form-error">
            {{ form_errors(form.usernameUsersOrg) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.passwordUsersOrg) }}
        {{ form_widget(form.passwordUsersOrg, {'attr': {'class':'nameChampOrga'}}) }}
        <div class="form-error">
            {{ form_errors(form.passwordUsersOrg) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.titleUsersOrg) }}
        {{ form_widget(form.titleUsersOrg, {'attr': {'class':'nameChampOrga'}}) }}
        <div class="form-error">
            {{ form_errors(form.titleUsersOrg) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.firstnameUsersOrg) }}
        {{ form_widget(form.firstnameUsersOrg, {'attr': {'class':'nameChampOrga'}}) }}
        <div class="form-error">
            {{ form_errors(form.firstnameUsersOrg) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.lastnameUsersOrg) }}
        {{ form_widget(form.lastnameUsersOrg, {'attr': {'class':'nameChampOrga'}}) }}
        <div class="form-error">
            {{ form_errors(form.lastnameUsersOrg) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.groupeOrg) }}
        {{ form_widget(form.groupeOrg, {'attr': {'class':'nameChampOrga'}}) }}
        <div class="form-error">
            {{ form_errors(form.groupeOrg) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.rolesOrga) }}
        {{ form_widget(form.rolesOrga, {'attr': {'class':'nameChampOrga'}}) }}
        <div class="form-error">
            {{ form_errors(form.rolesOrga) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_row(form.submit, {'attr': {'class':'btnSubmOrg'}}) }}
    </div>
{{ form_end(form) }}
<div>
        <a href="{{ path('app_interface', { id: idUrl } )}}" class="btn btn-info">Suivant</a>
    </div>

<table id="customers" class="table table-hover">

            <thead>
                <tr>
                    <th scope="col">Numéro</th>
                    <th scope="col">Nom d'utilisateur</th>
                    <th scope="col">Mot de passe</th>
                    <th scope="col">Titre</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Groupe utlisateur</th>
                    <th scope="col">Roles utlisateur</th>
                    <th scope="col">Edition</th>
                    <th scope="col">Suppression</th>
                </tr>
            </thead>
            <tbody>

            {% for usersOrg in userOrg %}
           
                <tr class="table-primary">
                    <th scope="row">{{ usersOrg.id }}</th>
                    <td>{{ usersOrg.usernameUsersOrg }} </td>
                    <td style=" -webkit-text-security: disc">{{ usersOrg.passwordUsersOrg }} </td>
                    <td>{{ usersOrg.titleUsersOrg }} </td>
                    <td>{{ usersOrg.firstnameUsersOrg }} </td>
                    <td>{{ usersOrg.lastnameUsersOrg }} </td>
                    <td>{{ usersOrg.groupeOrg }} </td>
                    <td>{{ usersOrg.rolesOrga }} </td>
                    
                    <td>
                        <a href="{{ path('app_user_org.edit', { idUsers: idUrl, id: usersOrg.id } )}}" class="modifBTN">Modifier</a>
                        {# to do #}
                    </td>
                    <td>
                        <a href="{{ path('app_user_org.delete', {idUsers: idUrl, id: usersOrg.id } )}}" class="deleteBTN">Supprimer</a>
                        {# to do #}
                    </td>
                </tr>
            {% endfor %}
                 

            </tbody>
        </table>


</div>
{% endblock %}
